header {
    width: 100%;
    height: 116px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

img {
    width: 85px;
}

button {
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.125rem;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 17px 28px;
    background-color: var(--colorSecondary);
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #696DC8;
}

button:active {
    background-color: #797DDF;
}

@media screen and (max-width: 875px) {
    header {
        padding: 0 16px;
    }
}

@media screen and (max-width: 664px) {
    header {
        height: 77px;
    }

    .button {
        font-size: 0.8rem;
    }

    img {
        width: 60px;
    }
}

@media screen and (max-width: 585px) {

}