@import "./assets/fonts/FactorA/FactorA.css";
@import "./assets/fonts/Gilroy/Gilroy.css";

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorPrimary: #333333;
    --colorSecondary: #585CC6;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--colorSecondary);
}